<!-- -*- mode: XML -*- -->
<launch>
    <!-- Set to 1 if you want to run the map_server -->
    <arg name="map_server" value = "1"/>

    <!-- If the robot will abide by map_server walls -->
    <arg name="force_in_bounds" value = "0"/>

    <!-- Could be racecar-mit, racecar-uw-tx2, or racecar-uw-nano -->
    <arg name="racecar_version" default="racecar-uw-nano" />

    <group ns="vesc">
        <!-- Start electronic speed controller driver -->
        <include file="$(find mushr_sim)/launch/vesc.launch.xml" />
    </group>

    <group ns="teleop">
        <include file="$(find mushr_sim)/launch/keyboard_teleop.launch.xml" />
    </group>

    <group ns="mux">
        <!-- Spawn MUXs -->
        <include file="$(find ackermann_cmd_mux)/launch/mux.launch" />
    </group>

    <!-- Launch sensors -->
    <include file="$(find mushr_sim)/launch/sensors.launch.xml" >
        <arg name="racecar_version" value="$(arg racecar_version)" />
    </include>

    <!-- Launch  model/state publishers-->
    <param name="robot_description"
         textfile="$(find mushr_description)/robots/$(arg racecar_version).urdf"/>

    <include file="$(find mushr_base)/launch/includes/racecar_state.launch" >
	    <arg name="force_in_bounds" value="$(arg force_in_bounds)"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>
    
    <!-- Launch  map server-->
    <group if="$(arg map_server)">
        <include file="$(find mushr_sim)/launch/map_server.launch" />
    </group>
</launch>
