<!-- -*- mode: XML -*- -->
<launch>
    <!-- Set to 1 if you want to run headless. Keyboard control will be disabled-->
    <arg name="headless" value = "0"/>
    <arg name="racecar_version" default="racecar-uw-nano" />

    <group ns="vesc">
        <!-- Start electronic speed controller driver -->
        <include file="$(find mushr_sim)/launch/vesc.launch.xml" />
    </group>

    <group ns="teleop">
        <include file="$(find mushr_sim)/launch/keyboard_teleop.launch.xml" />
    </group>

    <group ns="mux">
        <!-- Spawn MUXs -->
        <include file="$(find ackermann_cmd_mux)/launch/mux.launch" />
    </group>

    <!-- Launch sensors -->
    <include file="$(find mushr_sim)/launch/sensors.launch.xml" />

    <param name="robot_description"
         textfile="$(find mushr_description)/robots/$(arg racecar_version).urdf"/>

    <include file="$(find mushr_base)/launch/includes/racecar_state.launch" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher"/>
</launch>
