<launch>
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find package_name)/rviz/multi_teleop.rviz" /> -->
    <arg name="car1_name" default="car1" />
    <arg name="car2_name" default="car2" />
    <arg name="car3_name" default="car3" />
    <arg name="car4_name" default="car4" />
    <arg name="car5_name" default="car5" />
    <arg name="car6_name" default="car6" />
    <arg name="car7_name" default="car7" />
    <arg name="car8_name" default="car8" />

    <!-- Set to 1 if you want to run the map_server -->
    <arg name="map_server" value = "1"/>

    <!-- Launch  map server-->
    <group if="$(arg map_server)">
        <include file="$(find mushr_sim)/launch/map_server.launch" />
    </group>

    <!-- Launch first car -->
    <group ns="$(arg car1_name)">
        <include file="$(find unity_backend)/launch/unity_single.launch">
            <arg name="car_name" value="$(arg car1_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="" />
        </include>
    </group>

    <!-- Launch second car -->
    <group ns="$(arg car2_name)">
        <include file="$(find unity_backend)/launch/unity_single.launch" >
            <arg name="car_name" value="$(arg car2_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-green-black" />
        </include>
    </group>

    <group ns="$(arg car3_name)">
        <include file="$(find unity_backend)/launch/unity_single.launch" >
            <arg name="car_name" value="$(arg car3_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-red-white" />
        </include>
    </group>

    <group ns="$(arg car4_name)">
        <include file="$(find unity_backend)/launch/unity_single.launch" >
            <arg name="car_name" value="$(arg car4_name)"/>
            <arg name="racecar_version" value="racecar-uw-nano"/>
            <arg name="racecar_color" value="-purple-gold" />
        </include>
    </group>

    <node pkg="unity_backend" type="pose_init.py" name="initializer"/>
    
</launch>
